<div class="fds-3">
  <label class="aaa">00:00</label>
  <input
    (touchstart)="down($event)"
    (touchmove)="down($event)"
    (mousedown)="down($event)"
    (mouseup)="onmouseout($event)"
    (mouseout)="onmouseout($event)"
    (touchend)="onmouseout($event)"
    class="ddddd"
    [ngClass]="{ ok: blockckckc }"
    value="0"
    (change)="fdasfa($event.target)"
    type="range"
  />
  <label (click)="testtime()" class="bbb" [ngClass]="{timer}">00:00</label>
</div>

<div class="kongzhiqi">
  <div class="con-btn">
    <span
      (click)="switch()"
      className="player-btn btn-order {{ loop }}"
      title="循环控制"
    ></span>
    <span class="player-btn btn-prev" (click)="next(0)" title="上一首"></span>
    <span
      class="player-btn btn-play"
      [ngClass]="{ 'btn-state-paused': isPalying }"
      (click)="ok()"
      title="暂停/继续"
    ></span>
    <span class="player-btn btn-next" (click)="next(1)" title="下一首"></span>
    <span
      (click)="closeDialoggg()"
      [ngClass]="{ close: dialoggg }"
      class="player-btn btn-order"
    >
      <ng-container *ngIf="dialoggg">×</ng-container>
    </span>
  </div>
</div>
