.panel {
  height: calc(100% - 60px);
  overflow-y: hidden;
  cursor: pointer;
  user-select: none;
  position: relative;
  h6 {
    position: absolute;
    height: 0.5px;
    top: 50%;
    left: 0;
    width: 70%;
    max-width: 500px;
    margin: auto;
    margin-top: 0.75px;
    right: 0;
    background: transparent;
    &.show {
      background: linear-gradient(
        to left,
        transparent 0%,
        transparent 50%,
        hsla(0, 0%, 100%, 0.7) 50%,
        hsla(0, 0%, 100%, 0.7) 50%
      );
      background-size: 10px 1px;
      background-repeat: repeat-x;
    }
  }
}

h1 {
  font-size: 20px;
  height: 30px;
  text-align: center;
  font-weight: normal;
  color: #fff;
  width: 100%;
  overflow: hidden;
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
}

:host ::ng-deep {
  li {
    color: #af6f1e;
    padding: 4px 6px;

    &.ok {
      font-size: 24px;
      padding: 6px;
      color: white;

      .zh {
        font-size: 16px;
      }
    }
  }

  ul {
    text-align: center;
    &.auto {
      transition: margin 50ms ease-in 50ms;
    }
  }
}

li {
  color: white;
  padding: 5px 10px;
}
