.panel {
  height: calc(100% - 80px);
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  position: relative;
  h6 {
    position: absolute;
    height: 0.5px;
    top: 50%;
    left: 0;
    width: 70%;
    max-width: 500px;
    margin: auto;
    margin-top: 0.75px;
    right: 0;
    background: transparent;
    &.show {
      background: linear-gradient(
        to left,
        transparent 0%,
        transparent 50%,
        hsla(0, 0%, 100%, 0.7) 50%,
        hsla(0, 0%, 100%, 0.7) 50%
      );
      background-size: 10px 1px;
      background-repeat: repeat-x;
    }
  }
}

h1 {
  font-size: 24px;
  height: 60px;
  text-align: center;
  font-weight: normal;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 20px;
  display: block;
  line-height: 60px;
}

:host ::ng-deep {
  li {
    color: #ff7d21;
    padding: 4px 6px;
    font-size: 24px;

    .zh {
      font-size: 14px;
      margin-top: 2px;
    }

    &.ok {
      color: white;
    }

    .word {
      display: inline-block;
      padding: 0 3px;
    }
  }

  ul {
    text-align: center;
    &.auto {
      transition: margin 50ms ease-in 50ms;
    }
  }
}

li {
  color: white;
  padding: 5px 10px;
}
