<div class="logo">♫ ePlayer</div>
<div class="main">
  <div class="list">
    <ul class="menus">
      <li>正在播放</li>
      <li>播放列表</li>
      <li>本地歌曲</li>
    </ul>

    <ul class="item">
      <li>
        <span class="list-num"></span>
        <span class="music-name">歌曲</span>
        <span class="auth-name music-album">歌手</span>
        <span class="music-album">专辑</span>
      </li>
      <li>
        <span class="list-num">1</span>
        <span class="music-name">西海情歌</span>
        <span class="auth-name music-album">刀郎</span>
        <span class="music-album">33</span>
      </li>
    </ul>
  </div>

  <div class="music-cover">
    <img draggable="false" src="assets/download.png" />
  </div>
</div>
<router-outlet></router-outlet>
<app-player></app-player>
