:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.niihao {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 30px;
  z-index: 1;
  overflow: hidden;
}

content {
  flex: 1;
  position: relative;
  overflow: hidden;
  &.yaotan ::ng-deep {
    h1,
    li {
      color: transparent;
    }
  }
}

footer {
  height: 15%;
  min-height: 80px;
}
