<div id="blur-img">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    version="1.1"
    width="1828"
    height="868"
    id="blurred_fkbkkxe7k"
    class="blured-img"
    viewBox="0 0 1828 868"
    preserveAspectRatio="none"
  >
    <filter id="blur_fkbkkxe7k">
      <feGaussianBlur in="SourceGraphic" stdDeviation="50"></feGaussianBlur>
    </filter>
    <image
      x="0"
      y="0"
      width="1828"
      height="868"
      externalResourcesRequired="true"
      xlink:href=""
      style="filter: url(#blur_fkbkkxe7k)"
      preserveAspectRatio="none"
    ></image>
  </svg>
  <div class="blur-mask" style="display: block"></div>
</div>
<div class="logo">♫ ePlayer</div>
<div class="main">
  <div class="list">
    <ul class="menus">
      <li>正在播放</li>
      <li>播放列表</li>
      <li>本地歌曲</li>
    </ul>

    <ul class="item">
      <li class="header">
        <span class="list-num"></span>
        <span class="music-name">歌曲</span>
        <span class="auth-name music-album">播放</span>
        <span class="music-album">时长</span>
      </li>
      <li>
        <span class="list-num">1</span>
        <span class="music-name">test.mp3</span>
        <span class="auth-name music-album">播放</span>
        <span class="music-album">00:30</span>
      </li>
    </ul>
  </div>

  <div class="music-cover">
    <img draggable="false" src="assets/download.png" />
  </div>
</div>
<router-outlet></router-outlet>
<app-player></app-player>
