<div class="dddd">
  <div class="iiiiii">
    <div class="music-cover" (click)="dfdasf()">
      <img draggable="false" src="assets/download.png" />
    </div>
  </div>
  <div class="list">
    <ul class="item">
      <ng-container *ngFor="let item of list; let i = index">
        <li [ngClass]="{ ok: index == i }">
          <span class="list-num">
            <ng-container *ngIf="index != i; else currentRef">
              {{ i + 1 }}
            </ng-container>
            <ng-template #currentRef>
              <img src="assets/images/wave.gif" />
            </ng-template>
          </span>
          <span class="music-name">
            <span class="haha3333" (click)="play(i)">{{ item.name }}</span>
          </span>
          <span class="music-time">{{ item.time }}</span>
        </li>
      </ng-container>
      <li *ngIf="list.length" class="end">总共 {{ list.length }}</li>
      <li *ngIf="!list.length" class="end">没有数据</li>
    </ul>
  </div>
</div>
